<h1>Edit Note for <%= @comment.book.title %> </h1>

<%= form_for(@comment) do |f|%>

    <%= f.label :chapter %>
    <%= f.number_field :chapter %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.hidden_field :book_id %>

    <%= f.submit %>

<% end %>