<h1>Edit Note</h1>

<%= form_for(@comment) do |f|%>

    <%= f.label :book %>
    <%= f.collection_select :book_id, current_user.books :id, :title %>

   <%= f.label :chapter %>
    <%= f.number_field :chapter %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit %>

<% end %>