<h1>All Your Comments</h1>
    <% @comments.each do |comment| %>
        <h1>Book title: <%= comment.book.title %><h1>
        <h2>Added by:<%= comment.book.user.username %><h1></h2>
        <h2>Chapter: <%= comment.chapter %></h2>
        <h2>Note: <%= comment.content%></h2>
<%end %>
   <%= link_to "Add another Note", new_comment_path %>