<% if @comments.any? %>
    <h1>All Your Notes</h1>
        <% @comments.each do |comment| %>
            <p>Book title: <%= link_to comment.book.title, book_path(comment.book.id) %></p>
            <p>Book Added by: <%= comment.book.user.username.titleize %></p>
            <p>Chapter: <%= comment.chapter %></p>
            <p>Note: <%= comment.content%></p>
                <% if current_user == comment.user %> <!-- users can only edit their own comments -->
                    <%= link_to "Edit Notes" , edit_comment_path(comment)%>
                    <%= link_to "Delete Note", comment_path(comment), method: :delete, data: { confirm: "Are you sure you want to delete this note?" } %>
                <% end %>
    <% end %>
        <br>
        <%= link_to "Add another Note", new_comment_path %>
    </div>
<% else %>
    <p>You haven't made a note on any of your favourite books yet! <%= link_to "Click here", new_comment_path %> to add one!<p>
<% end %>