
    <% if @comment.book %> <!-- if the comment is associated with a book -->
        <p>New Comment for <%= @comment.book.title %>!</p>
    <% else %>
        <h2> New Note </h2>
    <% end %>

    <%= form_for([@comment.book, @comment]) do |f| %> <!-- form for both nexted comments and not nested comments -->

    <%= render partial: 'layouts/errors', locals: {object: @comment} %> <!-- look for the errors partial to tell user the problems -->

    <% if !@comment.book %> <!-- if the comment is not associated with a book -->
        <p><%= f.label :book %>  </p>  
        <p><%= f.collection_select :book_id, Book.all, :id, :title %></p> <!-- allow users to select which book they want to comment on -->
    <% else %>
        <p><%= f.hidden_field :book_id %></p> <!-- set the book id automatically -->
    <% end %>   
       <p> <%= f.label :chapter %></p>
        <p><%= f.number_field :chapter %></p>

        <p><%= f.label :content, "Note"%></p>
        <p><%= f.text_field :content %></p>

        <%= f.submit %>
    <% end %>
