<%  if @book %> <!-- if the comment is associated with a book -->
<h1>New Comment for <%= @book.title %>!</h1>
<% else %>
<h1> New Note <h1>
<% end %>
<%= form_for([@book, @comment]) do |f| %>

<% if !@book %> <!-- if the comment is not associated with a book -->
    <%= f.label :book %>    
    <%= f.collection_select :book_id, Book.all, :id, :title %>
 <% end %>   
    <%= f.label :chapter %>
    <%= f.number_field :chapter %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit%>
<% end %>