
        <% @book.comments.order_by_chapter.each do |comment| %><!-- display the notes in order by chapter-->
        <h2>Chapter: <%= comment.chapter %></h2>
        <p>Notes: <%= comment.content %></p>
        <p>By: <%= comment.user.username %></p>
        <% if current_user == comment.user %> <!-- users can only delete their own comments -->
            <%= link_to "Delete Note", comment_path(comment), method: :delete, data: { confirm: "Are you sure you want to delete this note?" } %>
        <% end %>
        <% end %>
        <br><%= link_to "Add Another Note For Book: #{@book.title}", new_book_comments_path(@book)%>
