<h1><%= current_user.username %>'s Books </h1>

<% @books.each do |book| %> 
    <div>
    <h2><%= link_to book.title, book_comments_path(book.id) %></h2>
    <p>By: <%= book.author %><p>
    <p>Genre: <%= book.genre %><p>
    <p>Blurb: <%= book.blurb %></p>
    <p><%= link_to "Add a Comment", new_book_comments_path(book.id) %> <!-- Pass in the book id as an argument to determine what url to go to-->
    </div>
<% end %>