<h1><%= current_user.username %>'s Books </h1>

<% @books.each do |book| %> 
    <div>
    <h2><%= book.title %></h2>
    <p><%= book.author %><p>
    <p><%= book.genre %><p>
    <p><%= book.blurb %></p>
    <p><%= link_to "Add a Comment", new_book_comments_path(book.id) %> <!-- Pass in the book id as an argument to determine what url to go to-->
    </div>
<% end %>