<h1>New Book</h1>

<%= form_for(@book) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <br><br>
    <%= f.label :author %>
    <%= f.text_field :author %>
    <br><br>
    <%= f.label :genre %>
    <%= f.text_field :genre %>
    <br><br>
    <%= f.label :blurb %>
    <%= f.text_field :blurb %>
    <br><br>
    <%= f.submit %>

<% end %>