<h1>Book title: <%= @book.title %> </h1>
<p>Written by: <%= @book.author %></p>
<p>Genre: <%= @book.genre %></p>
<p>Blurb: <%= @book.blurb%></p>
<p><%= @book.user.username %>'s Favourite Book</p>

<%=link_to "See All Notes", book_comments_path(@book)%>

<%=link_to "Add New Note", new_book_comments_path(@book)%>

<% if @book.comments.any? %> <!-- only show if there are notes -->
    <h2>Notes For This Book</h2>
        <% @book.comments.each do |comment| %>
            <h3>Chapter: <%= comment.chapter %></h3>
            <p>Notes: <%= comment.content %></p>
            <p>Note by: <%= comment.user.username %>
    <% end %>
<% end %>
