<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
    <% if logged_in? %> 
    <%= current_user.username %> is logged in |
    <%= link_to 'Logout', logout_path, method: 'delete' %> |
    <%= link_to 'Add Book', new_book_path %> |
    <%= link_to 'All Books', books_path%> |
    <%= link_to 'Add a Note', new_comment_path%>
       <%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left') do %>  
        <div class="input-group">  
          <%= search_field_tag :search, params[:search], placeholder: "Search for Book", class: "form-control" %>  
            <div class="input-group-btn">  
              <%= button_tag "Search", :class => 'btn btn-info',:name => nil%>  
            </div>  
        </div>  
    <% end %>
    <% else %>
    <%= link_to "Sign Up", signup_path %> | 
    <%= link_to "Log in", login_path %> |
    <%= link_to "Log in with Google", '/auth/google_oauth2'%>
    <% end %>
    </div>

    <%= yield %>
  </body>
</html>
